<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="head :: head"/>
    <title th:text="${imageDO.info}"></title>
</head>
<body th:inline="text">
<div class="container-fluid">
    <div class="card text-white">
        <img class="card-img-top" th:title="${imageDO.info}" th:src="${application.imageHost + imageDO.name}" >
        <div class="card-img-overlay">
            <p class="card-text" th:text="${imageDO.info}"></p>
            <a th:href="|${application.imageHost}${imageDO.name}?attname=${imageDO.name}|" class="btn btn-sm btn-light">下载</a>
        </div>
    </div>
</div>
</body>
<style>
    body{
        overflow: hidden;
    }
    .container-fluid{
        padding: 0;
    }
</style>
</html>