<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta th:replace="head :: head"/>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/progressively.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/progressively.min.css}"/>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <title>必应高清壁纸 - 每天自动更新</title>
</head>
<body>
<div class="container-fluid">
    <div class="page-header" style="padding: 15px">
        <h1><a th:href="@{/}" style="text-decoration:none;color: #0C8484;"><span>必应壁纸</span></a></h1>
    </div>
    <div class="list-group">
        <div class="row">
            <div class="progressive card text-white col-md-4" th:each="image : ${pageInfo.list}" th:data="${image.id}">
                <img class="card-img progressive__bg progressive--not-loaded" th:src="|${application.imageHost}${image.name}${application.imageParam}|" th:attr="data-progressive=|${application.imageHost}${image.name}|"/>
                <div class="card-img-overlay" style="display: none">
                    <p th:text="${image.info}" class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div th:with="targetUrl=@{/images/}" th:include="pagebar::navigation" style="padding-top: 15px"></div>
    <div style="text-align: center">
        <h5><span>本站点所有图片均来自<a style="text-decoration:none;" href="https://www.bing.com/">必应搜索</a></span></h5>
        <h4><span style="font-style: oblique;font-family: 楷体,serif;"><a style="text-decoration:none;" href="https://github.com/iamlinhui/bing_boot">林省之</a>Copyright &copy;2019</span></h4>
    </div>
</div>
</body>
</html>
